body {
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: 'Lilita One', cursive;
}

.container {
    margin: auto;
    width: 75%;
}

.title {
    font-size: 5em;
}

.word {
    margin-top: 4em;
    font-size: 4em;
}

#entryBox {
    margin-top: 5em;
    font-size: 3em;
    background-color: black;
    color: lightblue;
    text-align: center;
    border-color: darkgrey;
    font-family: 'Lilita One', cursive;
}

#scoreContainer {
    margin-top: 3em;
    font-size: 2em;
    padding: 10px;
}

#timerContainer {
    margin-top: 3em;
    font-size: 2em;
    padding: 10px;
}

#scoreAndTimerDiv {
    margin-top: 2em;
}