body {
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: 'Lilita One', cursive;
}

#masterContainer {
    width: 55%;
}

.title {
    font-size: 3em;
}

.word {
    margin-top: 1em;
    font-size: 3em;
}

#entryBox {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    font-size: 1.5em;
    background-color: black;
    color: lightblue;
    text-align: center;
    border-color: darkgrey;
    font-family: 'Lilita One', cursive;
}

#scoreContainer {
    /* margin-top: 3em; */
    font-size: 2em;
    padding: 10px;
}

#timerContainer {
    /* margin-top: 3em; */
    font-size: 2em;
    padding: 10px;
}

#scoreAndTimerDiv {
    margin-top: 2em;
}